html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
}