.content_card {
  width: 35rem;
  height: 596px;
  margin: auto;
  background-color: hsl(216, 50%, 16%);
  border-radius: 1.6rem;
  margin-top: 152px;
  margin-bottom: 152px;
}

/* .view { 
  display: none;
}  */
.view {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: hsla(178, 100%, 50%, 0.397);
  width: 30.2rem;
  height: 30.2rem;
  margin: 2.4rem;
  border-radius: 8px;
}
.view img {
  margin: auto;
}

.img_nft {
  width: 30.2rem;
  border-radius: 8px;
  margin: 2.4rem; 
}

.card_text{
  margin-left: 2.4rem;
}
.titulo {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0;
}
.titulo:hover {
  color: hsl(178, 100%, 50%);
}
.description{
  font-size: 1.8rem;
  color: hsl(215, 51%, 70%);
  line-height: 30px;
  margin-bottom: 0px;
}
/** Card Icons */
.card_icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: .6rem;
}
/** Criptos */
.content_cripto {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: 2.4rem;
  /* margin-top: .5rem; */
}
.icon_cripto {
  width: 1.1rem;
  height: 1.7rem;
}
.p_cripto {
  color:hsl(178, 100%, 50%);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0px;
}
/** Clock */
.content_clock {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 2.4rem;
}
.icon_clock {
  width: 1.7rem;
  margin-right: .7rem;
}
.p_clock {
  color: hsl(215, 51%, 70%);
  font-size: 1.6rem;
}

/* line */
hr {
  color: hsl(215, 32%, 27%);
  margin: .8rem 24px 0px 24px;
}
/* Footer_card */
.card_footer{
  display: flex;
  align-items: center;
  padding: 1.6rem 2.4rem 3.0rem 2.4rem;
  font-size: 1.6rem;
}
.bg-img {
  background-color: #fff;
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 1.8rem;
}
.icon_avatar {
  width: 3.1rem;
  height: 3.1rem;
  display: block;
  margin: auto;
  margin-top: .1rem;
}
.p_footer {
  color: hsl(0, 0%, 100%);
  margin: 0;
}
.p_footer:hover {
  color: hsl(178, 100%, 50%);
}
.p_footer span {
  color: hsl(215, 51%, 70%);
}

